/*-- NORMAL DISPLAY --*/
.search-box {
  padding: 0 20% 0 20%;
  margin-top: 20px;
  text-shadow: none;
}
.search-box .input-group-addon {
  padding: 0 5px 0 5px;
}
.search-box .dropdown-toggle {
  height: 25px;
  padding: 0 5px 2px 5px;
}
.search-input {
  max-width: 975px;
}
.input-group-addon:last-child {
  padding: 0;
}
.search-reset {
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: 1px solid #ccc;
}
.search-go {
  border: none;
}
.search-go, .search-reset {
  background: none;
  height: 32px;
}
.search-go:hover, .search-reset:hover {
  background-color: #d6d6d6;
}
/*--// NORMAL DISPLAY --*/

/*-- DISPLAY: 800px --*/
@media (max-width: 800px) {
  .search-box {
    padding: 0 6% 0 6%;
    margin-top: 20px;
  }
}
/*--// DISPLAY: 800px --*/